<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Body background example</title>
  <style>
    html, body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <div w3-include-html="../header.html"></div>
  <div w3-include-html="../nav.html"></div>
</head>
<body data-vide-bg="video/ocean">
<!--<script>window.jQuery || document.write('<script src="../libs/jquery/dist/jquery.min.js"><\/script>')</script>-->
<script src="../src/jquery.vide.js"></script>
<script>
 // $(document).ready(function () {
 //   $(document.body).vide('video/ocean'); // Non declarative initialization
 //
 //   var instance = $(document.body).data('vide'); // Get the instance
 //   var video = instance.getVideoObject(); // Get the video object
 //   instance.destroy(); // Destroy instance
 // });

 w3.includeHTML();

</script>
</body>
</html>
