<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.cat.mappers.MemberMapper">
	<insert id="signUp">
		insert into tb_member(id, pw, nick)
		values(#{id},
		#{pw}, #{nick})
	</insert>

	<select id="login" resultType="Integer">
		select count(*) from tb_member
		where id=#{id} and pw=#{pw}
	</select>







</mapper>




